.cell {
/*    width: 200px;*/
/*    height: 200px;*/

    border: rgb(89, 89, 89) solid 1px;
    background-color: rgb(55, 55, 55);
    transition: all .15s ease-in-out;
}

.cell:hover {
    border: rgb(67, 75, 120) solid 3px;
    opacity: 75%;
}

.active {
    background-color: rgb(112, 112, 169);
}

.box-empty {
    background-image: url("./assets/BoxHigh.png");
    background-size: contain;
}

.box-low {
    background-image: url("./assets/BoxLow.png");
    background-size: contain;
}

.box-medium {
    background-image: url("./assets/BoxMed.png");
    background-size: contain;
}

.box-high {
    background-image: url("./assets/BoxHigh.png");
    background-size: contain;
}
