/* The side navigation menu */
.topnav {
  background-color: #7da455;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  padding-top: 8px; /* Place content 60px from the top */
  padding-bottom: 8px; /* Place content 60px from the top */

}

img {
  padding-left: 3px;
  padding-right: 3px;
}

.nav-link {
  color:white;
}

MDBNavbar {
  background-color:#7da455;
}

h5 {
  color: white;
  padding-right: 10px;
  padding-top: 3px;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 2; /* Stay at the top */
  left: 0;
  background-color: whitesmoke; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 30px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color:#7da455;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: black;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: -10px;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.flex{
  display: flex;
  justify-content: space-between;

}

.flexrow1{
  display: flex;
  flex-direction: row;
}

.flex-container{
  display: flex;
  justify-content: space-between;
}

